.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 943px;
  margin: 17px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/bench_image_21.png");
  background-position: 50% 50%;
  min-height: 633px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 80px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 1px rgba(243,228,255,0.55);
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  background-image: none;
  margin: 125px -37px 0 513px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  height: auto;
  background-image: none;
  margin: 207px -20px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: normal;
  font-size: 3rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 822px;
    margin-top: 0;
    margin-right: 46px;
  }

  .u-section-1 .u-image-1 {
    min-height: 769px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 185px;
    margin-right: -62px;
    margin-left: 417px;
  }

  .u-section-1 .u-group-1 {
    min-height: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 673px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 466px;
  }

  .u-section-1 .u-group-1 {
    width: 368px;
    min-height: 57px;
    margin-top: 450px;
    margin-right: -30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-1 .u-text-2 {
    letter-spacing: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 321px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 488px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 318px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 221px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 403px;
    margin-bottom: -41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  min-height: 66px;
}

.u-section-2 .u-sheet-1 {
  min-height: 233px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 227px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 23px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 131px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 35px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-1 {
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-3 {
  min-height: 66px;
}

.u-section-3 .u-sheet-1 {
  min-height: 501px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 18px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 814px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-1 {
  width: 921px;
  height: 327px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 31px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 318px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 671px;
  }

  .u-section-3 .u-image-1 {
    width: 820px;
    height: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-1 {
    width: 660px;
    height: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 788px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    width: 535px;
    height: 201px;
    margin-right: -46px;
    margin-left: -49px;
  }

  .u-section-3 .u-text-3 {
    margin: 33px 0 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 912px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 7px;
  }

  .u-section-3 .u-image-1 {
    width: 439px;
    height: 165px;
    margin-left: -100px;
    margin-right: -100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-top: 57px;
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-4 {
  min-height: 66px;
}

.u-section-4 .u-sheet-1 {
  min-height: 221px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 220px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 22px 60px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 318px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-5 {
  min-height: 318px;
}

.u-section-5 .u-sheet-1 {
  min-height: 342px;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 341px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 23px 60px 25px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-6 {
  min-height: 318px;
}

.u-section-6 .u-sheet-1 {
  min-height: 502px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 906px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px 27px;
}

.u-section-6 .u-image-1 {
  width: 920px;
  height: 326px;
  margin: 9px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-6 .u-image-1 {
    width: 820px;
    height: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-image-1 {
    width: 660px;
    height: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-image-1 {
    width: 520px;
    height: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 1044px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-6 .u-image-1 {
    width: 437px;
    height: 154px;
    margin-right: -101px;
    margin-left: -97px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-7 {
  min-height: 318px;
}

.u-section-7 .u-sheet-1 {
  min-height: 371px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 369px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-8 {
  min-height: 318px;
}

.u-section-8 .u-sheet-1 {
  min-height: 363px;
}

.u-section-8 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 361px;
  pointer-events: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 66px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    margin-top: 32px;
    margin-left: -50px;
    margin-right: -50px;
  }
}.u-section-9 {
  min-height: 318px;
}

.u-section-9 .u-sheet-1 {
  min-height: 663px;
}

.u-section-9 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 1303px;
  pointer-events: auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

.u-section-9 .u-image-1 {
  width: 510px;
  height: 451px;
  margin: 61px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 1074px;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 66px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 1676px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-image-1 {
    width: 442px;
    height: 391px;
    margin-right: -2px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 1796px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-3 {
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-9 .u-image-1 {
    width: 242px;
    height: 214px;
  }
}.u-section-10 {
  min-height: 318px;
}

.u-section-10 .u-sheet-1 {
  min-height: 581px;
}

.u-section-10 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: -1px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 580px;
  pointer-events: auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  margin: 66px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 66px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 954px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-10 .u-text-2 {
    margin-top: 40px;
    margin-left: -50px;
    margin-right: -50px;
  }
}